* {
  font-family: 'Tajawal';
  direction: rtl;
  font-size: 18px;
}
:root {
  --main: #42b72a;
  --secondry: #ffffff;
}

/* header style start */
.content-header {
  height: 100vh;
  display: flex;
}

.inner-content-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
}

.product-img {
  width: 50%;
  text-align: center;
}

.product-img img {
  width: 70%;
}

.product-description {
  width: 50%;
  text-align: right;
}
.product-description h2{
  font-size: 55px;
  font-weight: bold;
}
.product-description p{
  font-size: 22px;
}
.product-description .call-to-action{
  background-color: var(--main);
  padding: 15px 35px;
}
.btn-success:active:focus{
  box-shadow: none !important;
}

/* header style end */

/* features style start */
/* features style end */
.features__app__details {
  background-color: #f1f5f7;
  padding: 4rem auto;
  margin: 2rem auto;
}
.features__app__details__content {
  padding: 4rem 0;
}
.features__app__details__content__title {
  font-weight: bolder;
}
.features__app__details__content__title span {
  color: #3bb760;
  font-size: 2.3rem;
}
/* features style end */