* {
  font-family: 'Tajawal';
  direction: rtl;
  font-size: 18px;
}

/* header style start */

/* header style end */

/* features style start */
.features__app__details {
  background-color: #f1f5f7;
  padding: 4rem auto;
  margin: 2rem auto;
}
.features__app__details__content {
  padding: 4rem 0;
}
.features__app__details__content__title {
  font-weight: bolder;
}
.features__app__details__content__title span {
  color: #3bb760;
  font-size: 2.3rem;
}
/* features style end */
